# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

polaris.yml

node_modules
dist
dist-ssr
*.local
/public/img

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
package-lock.json

jsconfig.json
pnpm-lock.yaml
version_js

*.sh
.pnpm-store/*

CLAUDE.md
ARCHITECTURE.md
.claude
.github
output
comando.md